body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
}

#inventoryHud {
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgba(30, 144, 255, 0.1); 
}

#inventoryElement {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 900px;
    height: 600px;
    background-color: rgba(105, 105, 105, 0.3); 
    border-radius: 5px;
    overflow-y: auto;
}​

#inventoryElement::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: rgba(105, 105, 105, 0.4); 
}

#inventoryElement::-webkit-scrollbar
{
    width: 12px;
    background-color: rgba(105, 105, 105, 0.4); 
}

#inventoryElement::-webkit-scrollbar-thumb
{
    background-color: rgba(83, 82, 82);
}

.item {
    position: relative;
    float: left;
    margin: 8px;
    width: 160px;
    height: 160px;
    background-color: wheat;
    border-color: wheat;
    border-radius: 5px;
    text-align: right;
    border-width: 2px;
    border-style: solid;
}

.item:hover, .item.active {
    border-color: black;
}

.item .count {
    margin: 4px;
    font-weight: bold;
}